force-app/main/default/flows/Create_Task_For_Opportunity_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Create a task for the owner of the Opportunity against which an Invoice was generated to follow up with the customer for the payment, if the payment is not received 30 days after the due date. The task should include relevant information such as the customer name, invoice number, amount due, and the date when the payment was due</description>
        <name>Create_Task_for_Opportunity_Owner</name>
        <label>Create Task for Opportunity Owner</label>
        <locationX>242</locationX>
        <locationY>408</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>send_Email_after_30_days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OpportunityId__r.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Record.Due_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>$Record.Account__r.Primary_contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Follow-up on Payment for Overdue Invoice</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>send_Email_after_30_days</name>
        <label>send Email after 30 days</label>
        <locationX>242</locationX>
        <locationY>528</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SendEmailAfter30DaysTask</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>shivankbhattal07@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>foll up payment</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Condition_of_Due_Date</name>
        <label>Check Condition of Due Date</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Due_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>f1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_for_Opportunity_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f1</name>
        <dataType>Date</dataType>
        <expression>TODAY()-30</expression>
    </formulas>
    <interviewLabel>Create Task For Opportunity Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Task For Opportunity Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Due_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>after30DaysFromDue</name>
            <connector>
                <targetReference>Check_Condition_of_Due_Date</targetReference>
            </connector>
            <label>after30DaysFromDue</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SendEmailAfter30DaysTask</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear   {!$User.FirstName} {!$User.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I hope this email finds you well. This is a friendly reminder that the payment for the opportunity   {!$Record.OpportunityId__r.Name} is now [30] days past due. We kindly request that you follow up with the client to collect the payment as soon as possible to avoid any further late payment charges or penalties.&lt;/p&gt;&lt;p&gt;The total amount due is  {!$Record.Amount__c} , which was due on  {!$Record.Due_Date__c} . As the opportunity owner, we request you to take necessary actions to collect the payment and update the payment status in our records.&lt;/p&gt;&lt;p&gt;Please let us know if you need any assistance in following up with the client or updating the payment status. We value your contribution to our organization and appreciate your prompt attention to this matter.&lt;/p&gt;&lt;p&gt;Thank you for your cooperation.&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Shivank&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
