force-app/main/default/flows/Create_Task_For_Opportunity_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>create_a_task</name>
        <label>create a task</label>
        <locationX>242</locationX>
        <locationY>408</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Record.Due_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>followupwithcustomer</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>paid_or_not</name>
        <label>paid or not</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_a_task</targetReference>
            </connector>
            <label>not paid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f1</name>
        <dataType>Date</dataType>
        <expression>TODAY()-30</expression>
    </formulas>
    <interviewLabel>Create Task For Opportunity Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Task For Opportunity Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>after30DaysFromDue</name>
            <connector>
                <targetReference>paid_or_not</targetReference>
            </connector>
            <label>after30DaysFromDue</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>follow up with customer</description>
        <name>followupwithcustomer</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>follow up with customer</text>
    </textTemplates>
    <textTemplates>
        <name>SendEmailAfter30DaysTask</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear   {!$User.FirstName} {!$User.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I hope this email finds you well. This is a friendly reminder that the payment for the opportunity   {!$Record.Opportunity__r.Name} is now [30] days past due. We kindly request that you follow up with the client to collect the payment as soon as possible to avoid any further late payment charges or penalties.&lt;/p&gt;&lt;p&gt;The total amount due is  {!$Record.Amount__c} , which was due on  {!$Record.Due_Date__c} . As the opportunity owner, we request you to take necessary actions to collect the payment and update the payment status in our records.&lt;/p&gt;&lt;p&gt;Please let us know if you need any assistance in following up with the client or updating the payment status. We value your contribution to our organization and appreciate your prompt attention to this matter.&lt;/p&gt;&lt;p&gt;Thank you for your cooperation.&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Shivank&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
