force-app/main/default/flows/Reminder_invoice_Email_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reminder_Invoice_Email_Notification</name>
        <label>Reminder Invoice Email Notification</label>
        <locationX>242</locationX>
        <locationY>408</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account__r.Primary_contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder: Invoice Due Date Approaching</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Due_Date_Greater_Than_10_days_from_today</name>
        <label>Due Date Greater Than  10 days from today</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Due_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>checkdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_Invoice_Email_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>checkdate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+10</expression>
    </formulas>
    <formulas>
        <name>dateFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Due_Date__c-10}</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>Today() +10</expression>
    </formulas>
    <interviewLabel>Reminder invoice Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reminder invoice Email Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Due_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Invoice__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X10_Day_Before_Invoice_Due_Date</name>
            <connector>
                <targetReference>Due_Date_Greater_Than_10_days_from_today</targetReference>
            </connector>
            <label>10 Day Before Invoice Due Date</label>
            <offsetNumber>-10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear, {!$Record.Account__r.Primary_contact__r.FirstName}&lt;/p&gt;&lt;p&gt;I hope you’re doing well. I know you’re busy, so I wanted to send a friendly reminder that a payment of   {!$Record.Amount__c}   is due by   {!$Record.Due_Date__c}  today to close out your balance.&lt;/p&gt;&lt;p&gt;Please do not hesitate to contact us.&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;Shivank&lt;/p&gt;</text>
    </textTemplates>
</Flow>
