force-app/main/default/flows/sendEmailAfter10Days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailAfterTenDaysfromDueDate</name>
        <label>SendEmailAfterTenDays FromDueDate</label>
        <locationX>242</locationX>
        <locationY>408</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>ChangeStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account__r.Primary_contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Payment Reminder </stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>checkDueDate</name>
        <label>checkDueDate</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Due_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TenDaysAfterDueDateCheck</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailAfterTenDaysfromDueDate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Tendaysafterduedate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Due_Date__c}+10</expression>
    </formulas>
    <formulas>
        <name>TenDaysAfterDueDateCheck</name>
        <dataType>Date</dataType>
        <expression>TODAY()-10</expression>
    </formulas>
    <interviewLabel>sendEmailAfter10Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sendEmailAfter10Days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ChangeStatus</name>
        <label>ChangeStatus</label>
        <locationX>242</locationX>
        <locationY>528</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>paid</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>unpaid</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Due_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Invoice__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X10_days_after_invoice_due_date</name>
            <connector>
                <targetReference>checkDueDate</targetReference>
            </connector>
            <label>10 days after invoice due date</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Account__r.Primary_contact__r.FirstName} ,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I hope this email finds you well. This is a friendly reminder that payment for Invoice    {!$Record.Name}   is now [10] days overdue. We kindly request that you make payment as soon as possible to avoid any further late payment charges or penalties.&lt;/p&gt;&lt;p&gt;The total amount due is  &lt;u&gt; {!$Record.Amount__c&lt;/u&gt;} , which was due on  &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;!$Record.Due_Date__c}&lt;/span&gt;. If you have already made payment, please disregard this email. &lt;/p&gt;&lt;p&gt;Please let us know if you have any questions or concerns regarding your payment. We value your business and appreciate your prompt attention to this matter.&lt;/p&gt;&lt;p&gt;Thank you for your cooperation.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;Shivank&lt;/p&gt;</text>
    </textTemplates>
</Flow>
